<main class="static home">
  <h1>Home is where the heart was.</h1>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", app_path %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Sign In", signin_path %>
    <% end %>
  <div>
</main>
