@font-face {
  src: url("open_sans_light.woff");

  font: {
    family: OpenSans; weight: 300;
  }
}

@font-face {
  src: url("open_sans_regular.woff");

  font: {
    family: OpenSans; weight: 400;
  }
}

@font-face {
  src: url("open_sans_semibold.woff");

  font: {
    family: OpenSans; weight: 500;
  }
}
